{% macro print_doc(documentation) %}
{% if documentation %}
/// <summary>
{%set lines = documentation.split('\n')%}
{%for line in lines %}
/// {{line}}
{%endfor%}
/// </summary>
{%-endif %}
{%endmacro %}

{% macro gen_struct(item) %}
{%if item.cs_is_parent %}
{{ print_doc(item.documentation)}}
public interface I{{item.name}} {
    {% for prop in item.cs_properties %}

    {{ print_doc(prop.documentation) | indent }}
    public {{prop.cs_typename}}{{ prop.optional and '?' }} {{ prop.cs_name }} { get; set; }
    {% endfor %}
}

{%endif %}
{{ print_doc(item.documentation)}}
public class {{item.name}}{%if item.cs_parents_str %}: {{item.cs_parents_str}}{%endif%}{
    {% for prop in item.cs_properties %}

    {{ print_doc(prop.documentation) | indent }}
    public {{prop.cs_typename}}{{ prop.optional and '?' }} {{ prop.cs_name }} { get; set; }
    {%- if prop.type.kind == 'stringLiteral' %} = "{{ prop.type.value }}"; {% endif +%}
    {% endfor %}
}
{% endmacro %}


{%macro gen_alias(item)%}
{{ print_doc(item.documentation)}}
using {{item.name}} = {{item.type.cs_typename}};
{%endmacro%}